{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% block contenido %}
<div class="container">
	<div class="row">
		<div class="col mt-2 mb-2">
			<h1>Asesoria</h1>
			<h3>Contactenos:</h3>
			<div class="jumbotron">
			<p class="display-4">Turno:</p>
			<form action="#" method="post">
				{% csrf_token %}
				{{ form|crispy }}
				<input class="btn btn-sm btn-success" type="submit" value="Enviar">
			</form>
			</div>
		</div>
		</div>
	</div>
	<div class="row">
		<div class="col">
		</div>
	</div>
</div>
{% endblock contenido %}
